In [0]:
sc

In [0]:
sc.stop()

In [0]:
from pyspark import SparkContext, SparkConf

In [0]:
from pyspark.sql import SQLContext
conf = SparkConf().setAppName("Spark_Proj").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf)
sqlcontext = SQLContext(sc)

/databricks/spark/python/pyspark/sql/context.py:82: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [0]:
transaction_df = spark.read.csv("dbfs:/FileStore/tables/all_transaction_1.csv", header = True, inferSchema =True)

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.functions import date_format,year,col,to_timestamp

In [0]:
transaction_df.printSchema()
transaction_df.show(10, truncate = False)

root
 |-- ProductCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- ActualPrice: double (nullable = true)
 |-- Marginpercentage: integer (nullable = true)
 |-- Discountpercentage: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- TransactionAmount: double (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Mode: string (nullable = true)
 |-- InvoiceNumber: integer (nullable = true)
 |-- CustomerId: string (nullable = true)
 |-- Country: string (nullable = true)

+------------------------------------+---------------------------------------------------------------------------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|ProductCode                         |Description                                                                            |Brand       |Category|SubCategory        |ActualPrice|Marginpercentage|Discountpercentage|Quantity|TransactionAmount|InvoiceDate        |Mode          |InvoiceNumber|CustomerId  |Country  |
+------------------------------------+---------------------------------------------------------------------------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|e6fa885e-5f14-4e8c-8651-0c4e1c12be7b|Landau Pants 2xl Unisex Scrub Pant Tall - Ceil Blue                                    |landau      |shoes   |all women's shoes  |1470.0     |20              |30                |3       |3087.0           |2015-01-04 18:30:00|mastercard    |1045713097   |GgZx5HTWOcva|Hong Kong|
|7792c28f-2f9b-48b5-a2a7-911cac451746|Adult Womens Sexy Greek Roman Goddess Toga Fancy Dress Halloween Costume               |adult       |shoes   |all women's shoes  |2800.0     |10              |30                |2       |3920.0           |2015-01-04 18:30:00|visa signature|1045713178   |7EV5p15dX2zO|Singapore|
|7c478913-348f-4f38-94f9-a13b79632cd9|Woolrich Miss Lucy Women  Round Toe Leather  Mules                                     |woolrich    |clothing|athletic           |2800.0     |-10             |30                |3       |5880.0           |2015-01-04 18:30:00|cash          |1045714180   |2tZAOpxvJlgB|Germany  |
|cf9b6432-8b56-42cc-85fe-d2c5d04afa62|Style & Co Vern   Open Toe Synthetic  Wedge Sandal                                     |style       |clothing|women's shoes      |1400.0     |30              |10                |2       |2520.0           |2015-01-04 18:30:00|amex          |1045715253   |9fbao8KypEpz|Hong Kong|
|05eae2f8-0c6a-47ca-bdc3-ba9c91605f1a|Two Lips Swizzle   Round Toe Synthetic  Heels                                          |two         |clothing|all women's shoes  |140.0      |20              |30                |3       |294.0            |2015-01-04 18:30:00|dinner's club |1045716187   |lPqADDQ1usd9|Bahrain  |
|e8ffc821-8e90-49d2-afd3-4aa3113a9aab|Michael Kors Clara Black Suede Mid Ankle Bootie Size 9.5m                              |michael     |clothing|necklaces          |1750.0     |20              |20                |2       |2800.0           |2015-01-04 18:30:00|visa signature|1045717027   |i6uFeCvEA38x|India    |
|28a330c4-23c5-4bbf-83a1-8b7832f5af37|Bali 3547 Womens One Smooth U Side Support Underwire Bra44 Private Jet Grey - Size 38dd|bali        |clothing|shoes & jewelry    |2660.0     |20              |10                |2       |4788.0           |2015-01-04 18:30:00|mastercard    |1045717057   |ROuGH6eRfT8M|Germany  |
|e0cbbd76-d953-479d-a0e5-f9357626a07f|Women's Dr Scholl's                                                                    |dr. scholl's|clothing|all women's shoes  |3500.0     |10              |30                |3       |7350.0           |2015-01-04 18:30:00|amex          |1045717764   |53z4b3TzViDe|Japan    |
|6ffddd0f-457e-4503-a975-ae0d34b6aaa2|Coloriffics Danica Women Us 10 White Peep Toe Heels                                    |coloriffics |clothing|women's accessories|8470.0     |30              |20                |4       |27104.0          |2015-01-04 18:30:00|amex          |1045718272   |T5XQRb4pN5lk|India    |
|e8979507-1d96-450a-9cbb-b26fea258451|Timberland Earthkeepers Savin Hill Mid Women  Round Toe Leather  Combat Boot           |timberland  |shoes   |shoes & bags       |17430.0    |-10             |30                |2       |24402.0          |2015-01-04 18:30:00|visa signature|1045719308   |6zD1uOeuAnCH|India    |
+------------------------------------+---------------------------------------------------------------------------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
only showing top 10 rows

In [0]:
transaction_df1=transaction_df.withColumn("Year",year(transaction_df.InvoiceDate)).withColumn("Month",month(transaction_df.InvoiceDate))

In [0]:
transaction_df1.createTempView("amazon_transaction_data")

In [0]:
transaction_df1.select("Brand","SubCategory","Month","Year").show()

+------------+-------------------+-----+----+
|       Brand|        SubCategory|Month|Year|
+------------+-------------------+-----+----+
|      landau|  all women's shoes|    1|2015|
|       adult|  all women's shoes|    1|2015|
|    woolrich|           athletic|    1|2015|
|       style|      women's shoes|    1|2015|
|         two|  all women's shoes|    1|2015|
|     michael|          necklaces|    1|2015|
|        bali|    shoes & jewelry|    1|2015|
|dr. scholl's|  all women's shoes|    1|2015|
| coloriffics|women's accessories|    1|2015|
|  timberland|       shoes & bags|    1|2015|
|      bamboo|  all women's shoes|    1|2015|
|   evolatree|women's accessories|    1|2015|
|         bar|women's accessories|    1|2015|
|     michael|  all women's shoes|    1|2015|
|      excell|   women's clothing|    1|2015|
|        vans|      women's jeans|    1|2015|
|         nwt|      women's shoes|    1|2015|
|        toms|  all women's shoes|    1|2015|
|       earth|              boots|    1|2015|
|     tretorn|  all women's shoes|    1|2015|
+------------+-------------------+-----+----+
only showing top 20 rows

1 a)Find the top five performing mobile brands for the months of November, December and January r each year.

In [0]:
spark.sql("with sub as(Select Brand, sum(Quantity) as TotalProductSold, Month,Year, ROW_NUMBER() over(Partition by Year, Month order by sum(Quantity) DESC) as Rank from amazon_transaction_data where SubCategory = 'mobile' and Month in (11,12,1) group by Year, Month, Brand)select Brand, Month, Year, TotalProductSold from sub where rank < 6").show(50)

+--------+-----+----+----------------+
|   Brand|Month|Year|TotalProductSold|
+--------+-----+----+----------------+
| samsung|    1|2015|             377|
|   apple|    1|2015|             223|
|   nokia|    1|2015|             168|
|     blu|    1|2015|             148|
|motorola|    1|2015|             127|
| samsung|   11|2015|             448|
|     blu|   11|2015|             234|
|   apple|   11|2015|             200|
|   nokia|   11|2015|             185|
|      lg|   11|2015|             165|
| samsung|   12|2015|             517|
|     blu|   12|2015|             249|
|   nokia|   12|2015|             212|
|   apple|   12|2015|             184|
|     htc|   12|2015|             158|
| samsung|    1|2016|             361|
|   apple|    1|2016|             216|
|     blu|    1|2016|             171|
|   nokia|    1|2016|             159|
|      lg|    1|2016|             145|
| samsung|   11|2016|             410|
|     blu|   11|2016|             204|
|   apple|   11|2016|             178|
|motorola|   11|2016|             133|
|   nokia|   11|2016|             127|
| samsung|   12|2016|             353|
|     blu|   12|2016|             186|
|   apple|   12|2016|             168|
|     htc|   12|2016|             130|
|      lg|   12|2016|             124|
| samsung|    1|2017|             395|
|     blu|    1|2017|             156|
|   apple|    1|2017|             129|
|   nokia|    1|2017|             120|
|     htc|    1|2017|             117|
| samsung|   11|2017|             353|
|     blu|   11|2017|             212|
|   apple|   11|2017|             162|
|      lg|   11|2017|             134|
|     htc|   11|2017|             129|
| samsung|   12|2017|             326|
|   apple|   12|2017|             154|
|     blu|   12|2017|             127|
|   nokia|   12|2017|             107|
|      lg|   12|2017|              81|
| samsung|    1|2018|             434|
|     blu|    1|2018|             205|
|   apple|    1|2018|             204|
|      lg|    1|2018|             156|
|   nokia|    1|2018|             142|
+--------+-----+----+----------------+

1b)Find the top five selling products for the months of November, December and January for each year.

In [0]:
spark.sql("with sub as(Select subcategory, sum(Quantity) as ProductSold, Month,Year, ROW_NUMBER() over(Partition by Year, Month order by sum(Quantity) DESC) as Rank from amazon_transaction_data where Month in (11,12,1) group by Year, Month, subcategory)select subcategory, Month, Year, ProductSold from sub where rank < 6").show(truncate= False)

+-----------------+-----+----+-----------+
|subcategory      |Month|Year|ProductSold|
+-----------------+-----+----+-----------+
|all women's shoes|1    |2015|2891       |
|mobile           |1    |2015|2255       |
|men's shoes      |1    |2015|1835       |
|shoes & jewelry  |1    |2015|955        |
|women's shoes    |1    |2015|829        |
|mobile           |11   |2015|2701       |
|men's shoes      |11   |2015|2186       |
|all women's shoes|11   |2015|2044       |
|shoes & jewelry  |11   |2015|870        |
|women's shoes    |11   |2015|586        |
|all women's shoes|12   |2015|2970       |
|mobile           |12   |2015|2935       |
|men's shoes      |12   |2015|2010       |
|shoes & jewelry  |12   |2015|919        |
|women's shoes    |12   |2015|911        |
|mobile           |1    |2016|2262       |
|all women's shoes|1    |2016|2243       |
|men's shoes      |1    |2016|2092       |
|shoes & jewelry  |1    |2016|946        |
|women's shoes    |1    |2016|622        |
+-----------------+-----+----+-----------+
only showing top 20 rows

2.Give valuable insights to the investors

In [0]:
amazon_df1=transaction_df1.withColumn("Quarter",quarter(transaction_df1.InvoiceDate))
amazon_df1.createOrReplaceTempView("Data_Table1")

2a. Number of products sold along with revenue aggregated quarterly

In [0]:
spark.sql("select Year,Quarter,category,sum(quantity) as totalProductsSold ,sum(TransactionAmount) as QuarterRevenueAmount from Data_Table1 group by Year,Quarter,category order by Year,Quarter,totalProductsSold Desc").show()

+----+-------+-------------+-----------------+--------------------+
|Year|Quarter|     category|totalProductsSold|QuarterRevenueAmount|
+----+-------+-------------+-----------------+--------------------+
|2015|      1|     clothing|            32683|        1.89308525E8|
|2015|      1|  electronics|             7872|        1.10534375E8|
|2015|      1|        shoes|             2134|           8619415.0|
|2015|      1|apple carplay|                4|             86240.0|
|2015|      2|     clothing|            32481|        1.87920992E8|
|2015|      2|  electronics|             7434| 2.23020102342676E14|
|2015|      2|        shoes|             2154|         1.2181617E7|
|2015|      3|     clothing|            33517|        2.08341854E8|
|2015|      3|  electronics|             7497|         9.8171612E7|
|2015|      3|        shoes|             2210|          1.106511E7|
|2015|      4|     clothing|            33537|        1.80563516E8|
|2015|      4|  electronics|             9917|         1.2996053E8|
|2015|      4|        shoes|             2179|         1.1590796E7|
|2015|      4|    furniture|                3|             68040.0|
|2016|      1|     clothing|            38708|        2.28425575E8|
|2016|      1|  electronics|             8054| 2.23020110449033E14|
|2016|      1|        shoes|             2359|         1.0967747E7|
|2016|      1|apple carplay|                4|             86240.0|
|2016|      2|     clothing|            31428|        2.08824343E8|
|2016|      2|  electronics|             8232| 4.46040112881318E14|
+----+-------+-------------+-----------------+--------------------+
only showing top 20 rows

2b. Number of products sold in each category aggregated quarterly

In [0]:
spark.sql("select Year,Quarter,subcategory,sum(quantity) as totalProductsSold from Data_Table1 group by Year,Quarter,subcategory order by Year,Quarter,totalProductsSold Desc").show(truncate =False)

+----+-------+----------------------------------+-----------------+
|Year|Quarter|subcategory                       |totalProductsSold|
+----+-------+----------------------------------+-----------------+
|2015|1      |all women's shoes                 |7155             |
|2015|1      |mobile                            |6487             |
|2015|1      |men's shoes                       |5854             |
|2015|1      |shoes & jewelry                   |2587             |
|2015|1      |women's shoes                     |2134             |
|2015|1      |all men's shoes                   |1338             |
|2015|1      |athletic                          |623              |
|2015|1      |women's accessories               |619              |
|2015|1      |sunglasses & eyewear accessories  |592              |
|2015|1      |jewelry                           |530              |
|2015|1      |office safety & security          |492              |
|2015|1      |all women's clothing              |490              |
|2015|1      |sporting goods                    |461              |
|2015|1      |shoes & handbags                  |451              |
|2015|1      |computers                         |439              |
|2015|1      |shoes                             |406              |
|2015|1      |intimates & sleepwear             |403              |
|2015|1      |boots                             |363              |
|2015|1      |bags & briefcases                 |315              |
|2015|1      |work safety clothing and equipment|298              |
+----+-------+----------------------------------+-----------------+
only showing top 20 rows

2c A number of products sold for each brand aggregated quarterly.

In [0]:
spark.sql("select Brand,year,quarter,sum(Quantity) as Num_Product_Sold from Data_Table1 group by year,Brand,quarter order by Year,Quarter,Num_Product_Sold desc").show()

+----------+----+-------+----------------+
|     Brand|year|quarter|Num_Product_Sold|
+----------+----+-------+----------------+
|      nike|2015|      1|            2642|
|   samsung|2015|      1|            1174|
|     apple|2015|      1|             646|
|       new|2015|      1|             634|
|      puma|2015|      1|             618|
|    reebok|2015|      1|             539|
|       blu|2015|      1|             533|
|      vans|2015|      1|             457|
|     nokia|2015|      1|             441|
|     yu&yu|2015|      1|             384|
|      sony|2015|      1|             382|
|  skechers|2015|      1|             380|
|    adidas|2015|      1|             348|
|       htc|2015|      1|             348|
|        lg|2015|      1|             325|
|      toms|2015|      1|             312|
|  motorola|2015|      1|             300|
|  converse|2015|      1|             268|
|blackberry|2015|      1|             260|
|pleaserusa|2015|      1|             242|
+----------+----+-------+----------------+
only showing top 20 rows

3.Find products that generated profit
 
 3a Top 5 profit margin generating products for a given month.

In [0]:
spark.sql("with sub as(select subcategory,Month,year,sum(if((Marginpercentage-Discountpercentage)>0,1,0)) as profit ,ROW_NUMBER() over(Partition by Year, Month order by sum(if((Marginpercentage-Discountpercentage)>0,1,0)) DESC) as Rank from amazon_transaction_data group by Year, Month, subcategory)select subcategory, Month, Year, profit from sub where rank < 6 order by year,Month,profit desc").show(truncate= False)

#using Category
spark.sql("with sub as(select category,Month,year,sum(if((Marginpercentage-Discountpercentage)>0,1,0)) as profit ,ROW_NUMBER() over(Partition by Year, Month order by sum(if((Marginpercentage-Discountpercentage)>0,1,0)) DESC) as Rank from amazon_transaction_data group by Year, Month, category)select category, Month, Year, profit from sub where rank < 6 order by year,Month,profit desc").show()

+-----------------+-----+----+------+
|subcategory      |Month|Year|profit|
+-----------------+-----+----+------+
|all women's shoes|1    |2015|328   |
|mobile           |1    |2015|260   |
|men's shoes      |1    |2015|225   |
|shoes & jewelry  |1    |2015|136   |
|women's shoes    |1    |2015|116   |
|mobile           |2    |2015|239   |
|all women's shoes|2    |2015|215   |
|men's shoes      |2    |2015|178   |
|women's shoes    |2    |2015|82    |
|shoes & jewelry  |2    |2015|76    |
|men's shoes      |3    |2015|254   |
|all women's shoes|3    |2015|251   |
|mobile           |3    |2015|231   |
|shoes & jewelry  |3    |2015|110   |
|women's shoes    |3    |2015|77    |
|all women's shoes|4    |2015|279   |
|men's shoes      |4    |2015|220   |
|mobile           |4    |2015|171   |
|shoes & jewelry  |4    |2015|106   |
|women's shoes    |4    |2015|87    |
+-----------------+-----+----+------+
only showing top 20 rows

+-------------+-----+----+------+
|     category|Month|Year|profit|
+-------------+-----+----+------+
|     clothing|    1|2015|  1377|
|  electronics|    1|2015|   298|
|        shoes|    1|2015|   108|
|     clothing|    2|2015|  1063|
|  electronics|    2|2015|   286|
|        shoes|    2|2015|    74|
|apple carplay|    2|2015|     0|
|     clothing|    3|2015|  1295|
|  electronics|    3|2015|   316|
|        shoes|    3|2015|    66|
|     clothing|    4|2015|  1312|
|  electronics|    4|2015|   228|
|        shoes|    4|2015|    94|
|     clothing|    5|2015|  1295|
|  electronics|    5|2015|   295|
|        shoes|    5|2015|    99|
|     clothing|    6|2015|  1111|
|  electronics|    6|2015|   318|
|        shoes|    6|2015|    80|
|     clothing|    7|2015|  1267|
+-------------+-----+----+------+
only showing top 20 rows

4 Brands that need 

4a Brand wise segregation of best performing categories profits wise

In [0]:
spark.sql("select Brand,SubCategory,sum(if((Marginpercentage-Discountpercentage)>0,1,0)) as profit from amazon_transaction_data group by Brand,SubCategory order by profit desc").show()

#profit = sp - cp ; cp = (sp*100)/(100+margin%)
#spark.sql("select brand,SubCategory, (ActualPrice- CostPrice) as profit from (select brand,SubCategory,((ActualPrice * 100)/(100+Marginpercentage)) as CostPrice from amazon_transaction_data group by brand,SubCategory) group by brand,SubCategory order by profit desc").show(truncate=False)

+----------+-----------------+------+
|     Brand|      SubCategory|profit|
+----------+-----------------+------+
|   samsung|           mobile|  1591|
|      nike|      men's shoes|  1296|
|     apple|           mobile|   794|
|       blu|           mobile|   750|
|        lg|           mobile|   598|
|     nokia|           mobile|   561|
|blackberry|           mobile|   537|
|       htc|           mobile|   430|
|      sony|           mobile|   426|
|  motorola|           mobile|   371|
|      nike|  shoes & jewelry|   299|
|      puma|      men's shoes|   275|
|    huawei|           mobile|   254|
|     yu&yu|all women's shoes|   234|
|      vans|      men's shoes|   223|
|      nike|all women's shoes|   216|
|    reebok|      men's shoes|   214|
|      nike|  all men's shoes|   213|
|       new|      men's shoes|   206|
|    adidas|      men's shoes|   190|
+----------+-----------------+------+
only showing top 20 rows

4 b Brand wise segregation of least performing categories orders wise

In [0]:
spark.sql("select Brand,subcategory,sum(Quantity) as products_sold from amazon_transaction_data group by Brand,subcategory order by products_sold asc").show()

+---------+----------------------------+-------------+
|Brand    |subcategory                 |products_sold|
+---------+----------------------------+-------------+
|hailey   |women's shoes               |1            |
|liz      |shoes & handbags            |1            |
|cooler   |auto & tires                |1            |
|converse |other wholesale women's accs|1            |
|platinum |jewelry                     |1            |
|luxury   |women's clothing            |1            |
|nwt      |men's work shoes & boots    |1            |
|basic    |shoes & jewelry             |1            |
|capezio  |waist packs                 |1            |
|silvertoe|shoes & jewelry             |1            |
|patrick  |men's clothing              |1            |
|totes    |women's dress shoes         |1            |
|tommy    |intimates & sleepwear       |1            |
|parisa   |all women's shoes           |1            |
|luckers  |all women's shoes           |1            |
|deer     |shoes & jewelry             |1            |
|aerosoles|boots                       |1            |
|roper    |men's casual shoes          |1            |
|tsubo    |women's accessories         |1            |
|living   |jewelry                     |1            |
+---------+----------------------------+-------------+
only showing top 20 rows

5Find the products that should be part of the lighting deals.

a Find the top five selling products in a given month

In [0]:
spark.sql("with sub as(Select subcategory, sum(Quantity) as ProductSold, Month,Year, ROW_NUMBER() over(Partition by Year, Month order by sum(Quantity) DESC) as Rank from amazon_transaction_data group by Year, Month, subcategory)select subcategory, Month, Year, ProductSold from sub where rank < 6").show()

+-----------------+-----+----+-----------+
|      subcategory|Month|Year|ProductSold|
+-----------------+-----+----+-----------+
|all women's shoes|    1|2015|       2891|
|           mobile|    1|2015|       2255|
|      men's shoes|    1|2015|       1835|
|  shoes & jewelry|    1|2015|        955|
|    women's shoes|    1|2015|        829|
|           mobile|    2|2015|       2131|
|all women's shoes|    2|2015|       1993|
|      men's shoes|    2|2015|       1729|
|  shoes & jewelry|    2|2015|        646|
|    women's shoes|    2|2015|        592|
|      men's shoes|    3|2015|       2290|
|all women's shoes|    3|2015|       2271|
|           mobile|    3|2015|       2101|
|  shoes & jewelry|    3|2015|        986|
|    women's shoes|    3|2015|        713|
|all women's shoes|    4|2015|       2236|
|      men's shoes|    4|2015|       2088|
|           mobile|    4|2015|       1680|
|  shoes & jewelry|    4|2015|        892|
|    women's shoes|    4|2015|        677|
+-----------------+-----+----+-----------+
only showing top 20 rows

5 b Find the top five products having the highest margin in a given month

In [0]:
spark.sql("with sub as(select subcategory,Month,year,sum(Marginpercentage) as highest_margin ,ROW_NUMBER() over(Partition by Year, Month order by sum(Marginpercentage) DESC) as Rank from amazon_transaction_data group by Year, Month, subcategory)select subcategory, Month, Year,highest_margin from sub where rank < 6 order by year,Month,highest_margin desc").show(truncate= False)

+-----------------+-----+----+--------------+
|subcategory      |Month|Year|highest_margin|
+-----------------+-----+----+--------------+
|all women's shoes|1    |2015|16910         |
|mobile           |1    |2015|13210         |
|men's shoes      |1    |2015|10940         |
|shoes & jewelry  |1    |2015|5690          |
|women's shoes    |1    |2015|5400          |
|mobile           |2    |2015|11980         |
|all women's shoes|2    |2015|11160         |
|men's shoes      |2    |2015|9200          |
|shoes & jewelry  |2    |2015|3690          |
|women's shoes    |2    |2015|3530          |
|men's shoes      |3    |2015|13270         |
|all women's shoes|3    |2015|13140         |
|mobile           |3    |2015|12260         |
|shoes & jewelry  |3    |2015|5440          |
|women's shoes    |3    |2015|3950          |
|all women's shoes|4    |2015|14060         |
|men's shoes      |4    |2015|11930         |
|mobile           |4    |2015|8650          |
|shoes & jewelry  |4    |2015|5270          |
|women's shoes    |4    |2015|4420          |
+-----------------+-----+----+--------------+
only showing top 20 rows

5c Find the five lowest selling products in a given month.

In [0]:
spark.sql("with sub as(select subcategory,Month,year,sum(quantity) as low_selling ,ROW_NUMBER() over(Partition by Year, Month order by sum(quantity)) as Rank from amazon_transaction_data group by subcategory,Year, Month)select subcategory, Month, Year,low_selling from sub where rank < 6 order by year,Month,low_selling").show(truncate= False)

+----------------------------------------------------------+-----+----+-----------+
|subcategory                                               |Month|Year|low_selling|
+----------------------------------------------------------+-----+----+-----------+
|women's running shoes                                     |1    |2015|1          |
|link                                                      |1    |2015|1          |
|wristwatch bands                                          |1    |2015|1          |
|scuff                                                     |1    |2015|1          |
|masks & peels                                             |1    |2015|1          |
|see more saxx 9699 mens vibe orange striped modern fit ...|2    |2015|1          |
|neutral                                                   |2    |2015|1          |
|occupational                                              |2    |2015|1          |
|coveralls & suits                                         |2    |2015|1          |
|smart watch accessories                                   |2    |2015|1          |
|see more women plus size alfani tummy control capri pan...|3    |2015|1          |
|moccasins                                                 |3    |2015|1          |
|home & garden                                             |3    |2015|1          |
|plus size pants & leggings                                |3    |2015|1          |
|rings                                                     |3    |2015|1          |
|see more wrangler jeans original fit cowboy cut 13mwz b...|4    |2015|1          |
|socks & underwear                                         |4    |2015|1          |
|headbands                                                 |4    |2015|1          |
|women's running shoes                                     |4    |2015|1          |
|see more mens nike tiempo genio leather fg soccer cleat...|4    |2015|1          |
+----------------------------------------------------------+-----+----+-----------+
only showing top 20 rows